@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 dark:bg-gray-950 text-gray-800 dark:text-gray-200;
}

:root {
  --bg-color: #ffffff;
  --text-color: #1a1a1a;
  --primary-color: #F4F4F6;
  --secondary-color: #F4F4F6;
}

.dark{
  --bg-color: #18171C;
  --text-color: #ffffff;
  --primary-color: #1c1b21;
  --secondary-color: #46454A
}
